/* #region General */
:root {
    --base-color: white;
    --dark-base-color: black;
    --main-color: rgb(255, 63, 69);
    --accent-color: rgb(0, 179, 255);    

}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-base-color);
}

body{
    background-color: var(--accent-color);
    margin: 10px;
    padding: 10px;
}

main {
    margin-top: 60px;
}

h1 {
    font-weight: 500;
}
/* #endregion */

/* #region NavBar */
header{
    background-color: var(--base-color);
    position: fixed;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index:  2;

    justify-content: space-between;
}

#logo {
  height: 60px;
  width: auto;
  margin: 10px;
  display: flex;
}

#logo > img {
  height: 60px;
  width: auto;
  padding: 5px;
  display: flex;
}

nav {
    display: flex;
    align-items: center;
    right: 0;
    text-align: left;
 
}

nav ul{
    list-style: none;
    display: flex;

    padding: 0;
    margin: 0;
    
}

nav li {
    display: flex;
    padding: 0.3rem 1rem;
    
}

nav li a{
    text-decoration: none;
    padding: 15px;
}

nav li:hover a{
    color: var(--main-color);
}

/* #endregion */

/* #region NavBar */

/* #endregion */