/* #region General */
:root {
    --base-color: #FFFDF9;
    --boring-color: rgb(235, 235, 234) ;
    --dark-base-color: black;
    --main-color: rgb(0, 179, 255); 
    --second-color: rgb(69, 186, 54); 
    --third-color: rgb(252, 29, 37);
    --fourth-color: rgb(249, 122, 19);   
   
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-base-color);
}

body{
    background-color: var(--main-color);
    margin: 10px;
    padding: 10px;
}

main {
    height: 100vh;
    margin: 20px;
    margin-top: 70px;
    padding: 1px 15px;
    background-color: var(--base-color);
}

h1 {
    font-weight: 500;
}
/* #endregion */

/* #region NavBar */
header{
    background-color: var(--base-color);
    position: fixed;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index:  2;

    justify-content: space-between;
}

#logo {
  height: 60px;
  width: auto;
  margin: 10px;
  display: flex;
}

#logo > img {
  height: 60px;
  width: auto;
  padding: 5px;
  display: flex;
}

nav {
    display: flex;
    align-items: center;
    right: 0;
    text-align: left;
 
}

nav ul{
    list-style: none;
    display: flex;

    padding: 0;
    margin: 0;
    
}

nav li {
    display: flex;
    padding: 0.3rem 1rem;
    
}

nav li a{
    text-decoration: none;
    padding: 15px;
}

nav li:hover a{
    color: var(--main-color);
    font-weight: 600;
}

/* #endregion */


/* #region NavBar */

/* #endregion */