:root {
    --base-color: #FFFDF9;
    --boring-color: rgb(235, 235, 234) ;
    --dark-base-color: black;
    --main-color: rgb(0, 179, 255); 
    --second-color: rgb(69, 186, 54); 
    --third-color: rgb(252, 29, 37);
    --fourth-color: rgb(249, 122, 19);   
   
}


#filter-form {
    background-color: var(--boring-color);
    padding: 15px;
    margin: 0px 15px;
    border-radius: 10px;
    align-items: center;
    height: 300px;
}

#filter-section {
    display: flex;
    flex-direction: column;

}

#filter-section h2 {
    padding: 5px;
    margin: 0px 3px;
}

.filter-field, #apply-filters, #reset-filters {
    padding:5px;
    margin: 5px;
    border-radius: 5px;
    border-width: 0px;
    width: 200px;
}

#filter-section button {
    background-color: var(--second-color);
    color: var(--base-color);
}

#filter-section button:hover{
  transform: scale(1.01);

}

#catalogo {
    display: flex;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 10px;
    border-radius: 10px;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 1rem;

  
  }

  th {
    padding: 15px;
    background-color: var(--fourth-color);
    color: var(--base-color);
  }

  tbody td {
    white-space: wrap;
  }

  tbody img {
    max-width: 100px;
    height: auto;
  }

  tr{
    background-color: var(--boring-color);
  }

  td {
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid var(--base-color);
  }
  
